
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.logo {
    display: grid;
    grid-column: 1/2;
    align-content: left;
    width: 430px;
}


ul {
    list-style-type: none; 

  }

li {
    display: inline;
    font-size: 40px;
    padding-right: 85px;
 
  }

  li a {
    color: #2e365e;
    text-decoration: none;
  }

  a::before {
    content: '';
    background-color: hsla(196, 61%, 58%, .75);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
  }

  a {
    text-decoration: none;
    position: relative;
  }


  a:hover::before {
    bottom: 0;
    height: 100%;
    border-radius: 4px;
  }

  a::before {
    content: '';
    background-color: hsla(196, 61%, 58%, .75);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 10px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }






  img.roadmap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}






















  .footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items:center;
    align-items: center;
    background-color: #2e365e;
    margin: 5%;
    padding-bottom: 5%;
    border-radius: 20px;
  }

  .liks1{
    display: grid;
    grid-column: 1;
    grid-row: 2;
    margin: 0 auto;
  }
  .liks2{
    display: grid;
    grid-column: 2;
    grid-row: 2;
    margin: 0 auto;
  }
  .liks3{
    display: grid;
    grid-column: 3;
    grid-row: 2;
    margin: 0 auto;
  }
  .liks4{
    display: grid;
    grid-column: 4;
    grid-row: 2;
    margin: 0 auto;
  }

  .footer-container h2 {
    grid-column: 1/5;
    color: white;
    font-size: 35px;
    padding-bottom: 3%;
  }
  
  /* nav bar footer */

  .nav-footer {
    display: grid;
  }

  .navbarfooter {
    display: grid;
    grid-column: 1;
    justify-items: center;
  }


  
  
  







  
 
