/* head */
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.logo {
    display: grid;
    grid-column: 1/2;
    align-content: left;
    width: 430px;
}


ul {
    list-style-type: none; 

  }

li {
    display: inline;
    font-size: 40px;
    padding-right: 85px;
 
  }

  li .bar {
    color: #2e365e;
    text-decoration: none;
  }

  .bar::before {
    content: '';
    background-color: hsla(196, 61%, 58%, .75);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
  }

  .bar {
    text-decoration: none;
    position: relative;
  }


  .bar:hover::before {
    bottom: 0;
    height: 100%;
    border-radius: 4px;
  }

  .bar::before {
    content: '';
    background-color: hsla(196, 61%, 58%, .75);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 10px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }

  /* end of the head */

  main{
    display: grid;
    padding-top: 5%;
  }

  .img_one{
    width: 520px;
    height: 520px;
  }

  .first-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .img_one{
    display: grid;
    grid-column: 1;
    padding-bottom: 10%;
    padding-left: 5%;
  }
  
  .title_one{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    padding-right: 5%;
  }

  .text_one {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    padding-top: 7%;
    padding-right: 5%;
    font-size: 30px;
    color: grey;
}

  .img_two{
    width: 520px;
    height: 520px;
  }

  .second-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .img_two{
    display: grid;
    grid-column: 1;
    padding-bottom: 10%;
    padding-left: 5%;
  }

  .title_two{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    padding-right: 5%;

  }

  .text_two{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    padding-top: 7%;
    padding-right: 5%;
    font-size: 30px;
    color: grey;
  }

























  /* footer */

  .footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items:center;
    align-items: center;
    background-color: #2e365e;
    margin: 5%;
    padding-bottom: 5%;
    border-radius: 20px;
  }

  .liks1{
    display: grid;
    grid-column: 1;
    grid-row: 2;
    margin: 0 auto;
  }
  .liks2{
    display: grid;
    grid-column: 2;
    grid-row: 2;
    margin: 0 auto;
  }
  .liks3{
    display: grid;
    grid-column: 3;
    grid-row: 2;
    margin: 0 auto;
  }
  .liks4{
    display: grid;
    grid-column: 4;
    grid-row: 2;
    margin: 0 auto;
  }

  .footer-container h2 {
    grid-column: 1/5;
    color: white;
    font-size: 35px;
    padding-bottom: 3%;
  }
  
  /* nav bar footer */

  .nav-footer {
    display: grid;
  }

  .navbarfooter {
    display: grid;
    grid-column: 1;
    justify-items: center;
  }


  




  /* For smartphones */
@media screen and (max-width: 900px) {
  header {
    grid-template-columns: 1fr;
  }

  .logo {
    grid-column: 1;
    justify-self: center;
    width: 100%;
  }

  ul {
    text-align: center;
  }

  li {
    padding-right: 0;
    padding-bottom: 15px;
    display: block;
    font-size: 24px;
  }

  .navbar{
    padding-left: 0;
  }

  .main-para {
    padding-top: 50px;
  }

  

  .footer-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .liks1, .liks2, .liks3, .liks4{
    width: 50%;
  }

  .navbarfooter{
    padding-left: 0;
  }
}